


    <div class="content">
        <div class="content-cards cards">

            <% for(let item of items){ %>
                <a href="/main/show/<%=item._id%>" class="item-links">

                  <div class="content-card card" type="button">
                    <img class="content-card-img  cards-img" src="/uploads/<%=item.image%>" alt="">
                    <h4 ><%= item.name %></h4>
                  </div>

                </a>

            <% } %>

        </div>
    </div>
