<div class="left-navbar">
      <div id="account">account</div>
      <div id="navbar">
            <a href="/main">Items</a>
            <a href="/main/categories">Categories</a>
            <a href="/main/dashboard">Dashboard</a>
            <a href="/main/order">order</a>
            <a href="/logout">logout</a>
      </div>
</div>