<% layout("layouts/boilerplateCode")%>

<div class="add-list-form">

    <h1 id="form-heading">Add Item</h1>
    <form action="/main" class="form-list" method="post" enctype="multipart/form-data">
        
        <div class="form-field">
            <label for="title">item name</label>
            <input type="text" placeholder="  enter title" name="title" required>
        </div>

        <div class="form-field">
            <label for="price">price</label>
            <input type="number" name="price" placeholder="  enter price" min="0" id="price" required>
        </div>

        <div class="form-field">
            <label for="category">category</label>
            <input type="text" name="category" placeholder="  enter category" id="category" required>
        </div>

        <div class="form-field">
            <label for="image">Upload Image</label>
            <input type="file" name="image" id="image" accept="image/*" required>
        </div>

        <div class="form-field btn-field">
            <button type="submit" class="btn">Add</button>
        </div>
        
    </form>

</div>
