
.add-list-form{
    background-image: url("/uploads/banner.jpeg");
    position:fixed;
    top: 8%;
    width: 100%;
    height: 90%;

    display:  flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    box-shadow: 2px 2px 20px #568F87;
}


#form-heading{
    width: 50%;
    text-align: center;
    box-shadow: 2px 2px 20px #FFF5F2;
    color:#fff ;
    font-size: xx-large;
    background-color: #5A9690;
    border-radius: 20px;
}

.form-list{
    background-color: white;
    overflow: scroll;
    border: 2px solid #568F87;
    border-radius: 12px;
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 50px #568F87;
}



.form-field{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
}

.form-field input{
    border: 1px solid #568F87;
    height: 40%;
    border-radius: 12px;
    padding: 10px;
}

.form-field input:hover{
    box-shadow: 2px 2px 10px #568F87;
    transform: scale(1.02);
}

.btn-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-field .btn{
    border: none;
    width: 30%;
    height: 60px;
    background-color: #064232;
    color:#FFF5F2;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #064232;
    font-size: x-large;
}

.btn:hover{
    background-color: #568F87;
    color: white;
    transform: scale(1.1);
}