
.buyItem-containers{
    width: 80%;
    height: 100%;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid #568F87;
}
.buyItem-card{
    height: 80%;
    width: 40%;
    border: 2px solid #568F87;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 20px;
}

.buyItem-card .item-img{
    height: 60%;
    width: 60%;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 20px;
}

.buyItem-form{
    height: 80%;
    width: 30%;
    border: 2px solid #568F87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 20px;
}

.buyItem-form-element{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 20px;
}

.buyItem-btn{
    width: 50%;
    height: 30%;
    background-color: #568F87;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
    cursor: pointer;
}
.buyItem-btn:hover{
    border: 2px solid #568F87;
    background-color: white;
    color: #568F87;
    border-radius: 12px;
}

.buyItem-form{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
