
.show-page{
    position: fixed;
    top: 8%;
    height: 83%;
    width: 98.75%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.show-containers{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.clicked-show, .show-details{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #B0DB9C;
}

.clicked-show{
    width: 40%;
}

.show-details{
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-details table{
    height: 80%;
    width: 80%;
    text-align: center;
}

.show-card{
    height: 80%;
    width: 70%;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.order-now{
    height: 15%;
    width:  50%;
    box-shadow: 2px 2px 10px #568F87;
    border-radius: 20px;
}

.show-card-img{
    width: 80%;
    height: 90%;
}

.item-title{
    color: #568F87;
    font-size: xx-large;
}

.buy-btn{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #568F87;
    border: none;
    color: white;
    font-size: x-large;
}

.buy-btn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px #568F87;
}


.show-list{
    margin-top: 5%;
    height: fit-content;
    width: 95%;
    box-shadow: 2px 2px 60px #568F87;
    border-radius: 20px;
}