

body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
}

.left-navbar{
    width: 20%;
    position: fixed;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#account{
    text-align: center;
    height: 20%;
    width: 80%;
    box-shadow: 2px 2px 10px #B0DB9C;
    border-radius: 12px;
}
#navbar{
    border-radius: 12px;
    height: 70%;
    width: 80%;
    box-shadow: 2px 2px 10px #B0DB9C;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}
#navbar a{
    color: #568F87;
    text-decoration: none;
    font-size: 1.2rem;
}
#navbar a:hover{
    color: #064232;
    text-decoration: underline;
}

.header{
    height: 8.2%;
    width: 100%;
    background-color:#FAF6E9;
    position: fixed;
    top: 0;
    color:#568F87;
    border-bottom: 1px solid #B0DB9C;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #header-name{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;

}

.header #header-links{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

#header-links a{
    text-decoration: none;
    color: #568F87;
    cursor: pointer;
}

#header-links a:hover{
    text-decoration: underline;
    color: #064232;
}

.header #bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
}


.main-page{
    background-color: #FFFDF6;
    position:fixed;
    right: 0;
    width: 80%;
    height: 100%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 2px solid #568F87;
    padding: 5px;
}

.main-heading{
    color: black;
    height: 35%;
    width: 99%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.main-title{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 10px #B0DB9C;
}

#title{
    color: #568F87;
    font-size:xx-large;
}

.add-btn-form{
    border: none;
    width: 40%;
    height: 20%;
}

#title-btn{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #064232;
    color:#FFF5F2;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #064232;
}

#title-btn:hover{
    background-color: #568F87;
    color: white;
    transform: scale(1.1);
}

.main-title2{
    height: 100%;
    background-image: url("/uploads/banner.jpeg");
    background-repeat: repeat; 
    flex: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.cards-container{
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: #FAF6E9;
}

.cards{
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.listing-links{
    text-decoration: none;
    border-radius: 20px;
    height: 100px;
    width: 170px;
    margin-right: 2%;
    color: #568F87;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.card{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 10px #B0DB9C;
    border: none;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards-img{
    height: 60px;
    width: 100%;
    border-radius: 20px;
}

.dlt-listing{
    height: 30px;
    width: 30px;
    border: none;
    background-color: #568F87;
    border-radius: 50%;
}

.dlt-listing-form{
    width: 100%;
    display: flex;
    justify-content: right;
}

#main-img{
   height: 100%;
   width: 100%;
}

.content{
    height: 40%;
    width: 100%;
    text-align: justify;
    color: black;
    
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.filter-content{
  margin-top: 1%;
  margin-bottom: 1%;
  height: 10%;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #568F87;
  box-shadow: 5px 5px 10px #B0DB9C;
  overflow-x: scroll;
  overflow-y: hidden;
}

.filter-content a {
    margin: 2%;
    color: #568F87;
    text-decoration: none;
    flex-shrink: 0;
    cursor: pointer;
}

.filter-content a:hover{
    color: black;
    text-decoration: hsl(164, 83%, 14%) solid underline;
    transform: scale(1.02);
}

.content-cards{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.content-card{
    margin: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
    border: 1px solid #568F87;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-links{
    text-decoration: none;
    height: 300px;
    width: 200px;
    margin: 1%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.8%;
    color: #568F87;
}

.content-card:hover{
   transform: scale(0.99);
   border: 2px solid #B0DB9C;
   box-shadow: 2px 2px 5px #B0DB9C;
}

.content-card-img{
    height:50%;
    width: 90%;
    border: none;
    border-radius: 12px;
}

.dlt-btn-form{
    width: 85%;
    height: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: right;
}

.dlt-btn{
    border: none;
    width: 20%;
    height: 100%;
    background-color: #568F87;
    color:#FFF5F2;
    border-radius: 50%;
}

.dlt-btn:hover{
    box-shadow: 2px 2px 10px #B0DB9C;
    transform: scale(1.1);
}

.footer{
    height: 6%;
    width: 100%;
    position: fixed;
    bottom:  0;
    background-color:#FAF6E9;
    color: #568F87;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #568F87;
}



